* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  
}


/* nav  */
.navbar-nav .nav-link,
    .navbar-nav .dropdown-toggle,
    .dropdown-menu {
        font-family: 'Plus Jakarta Sans', sans-serif;
    }
.navbar-nav .nav-link:hover {
    color: #0b72e0;
  }

  .navbar-nav .dropdown:hover .nav-link {
    color: #0b72e0;
  }

  .navbar-nav .dropdown-menu .dropdown-item:hover {
    color: #0b72e0;
  }

  .navbar-nav .nav-link.disabled:hover {
    cursor: not-allowed;
  }
  /* fin nav  */



/*
---------------------------------------------
popular categories
---------------------------------------------
*/ 





 section.popular-categories {
  padding: 90px 9px;
} 

section.popular-categories .main-button {
  text-align: right;
}

.popular-item {
  border: 1px solid #e0e0e0;
  border-radius: 15px;
  padding: 30px;
}

.popular-item .top-content {
  display: flex;
  margin-bottom: 30px;
}

.popular-item .icon {
  background-color: #f7f7f7;
  width: 75px;
  height: 75px;
  display: inline-block;
  text-align: center;
  line-height: 75px;
  border-radius: 10px;
  margin-right: 20px;
}

.popular-item .icon img {
  max-width: 36px;
  border-radius: 0px;
}

.popular-item h4 {
  font-size: 20px;
  margin-top: 5px;
  font-weight: 700;
  margin-bottom: 12px;
}

.popular-item span em {
  font-style: normal;
  font-size: 15px;
  font-weight: 500;
  padding: 5px 8px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #00bdfe;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.06);
  margin-right: 10px;
}

.popular-item span {
  color: #afafaf;
  font-weight: 400;
}

.popular-item img {
  border-radius: 15px;
}

.popular-item .thumb {
  position: relative;
  overflow: hidden;
}

.popular-item .thumb span.category {
  font-size: 15px;
  color: #00bdfe;
  background-color: #fff;
  border-radius: 10px;
  font-weight: 500;
  position: absolute;
  left: 15px;
  top: -60px;
  padding: 8px 12px;
  opacity: 0;
  transition: all .3s;
}

.popular-item .thumb span.likes {
  font-size: 15px;
  color: #00bdfe;
  background-color: #fff;
  border-radius: 10px;
  font-weight: 500;
  position: absolute;
  right: 15px;
  top: -60px;
  padding: 8px 12px;
  opacity: 0;
  transition: all .3s;
}

.popular-item .thumb:hover span.category,
.popular-item .thumb:hover span.likes {
  top: 15px;
  opacity: 1;
}

.popular-item .border-button {
  margin-top: 30px;
  border-radius: 10%;
  justify-content: none;
}

.popular-item .border-button a {
  width: 100%;
  text-align: center;
}


/* imagenes giratorias  */


.section-heading {
  text-align: center;
  margin-bottom: 15%;
  font-size: 45%;
}

.cardBoxContainer {
  overflow: hidden;
}
.cardBox {
  float: left;
  font-size: 1.8em;
  margin: 1% 0 0 1%;
  margin-bottom: 3%;
  perspective: 800px;
  transition: all 0.3s ease 0s;
  width: 23.7%;

}
.cardBox:hover .card {
  transform: rotateY(180deg);
}

.card {
  background:rgba(32, 172, 247, 0.589);
  cursor: default;
  height: 300px;
  transform-style: preserve-3d;
  transition: transform 0.4s ease 0s;
  width: 100%;
  -webkit-animation: giro 1s 1;
  animation: giro 1s 1;

  
}

.front, .back {
  backface-visibility: hidden;
  box-sizing: border-box;
  color: white;
  display: block;
  font-size: 1.2em;
  height: 100%;
  padding: 0.8em;
  position: absolute;
  text-align: center;
  width: 100%;
}

/* imagen  */
.front img {
  position: absolute; /* Posiciona la imagen de forma absoluta */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}



.back {
  transform: rotateY( 180deg);
}

h1 {
  background: #333;
  color: #fff;
  text-align: center;
  margin: 0 0 5% 0;
  padding: 0.5em;
  margin: 0 0 5% 0;
}
 
p {
  margin-bottom: 1.8em;
}
 

 

a:hover {
  color: #237206;
  text-shadow: 0 0 1px #0d8eea;
}


.cardBox:nth-child(1) .card .back {
  background: cornflowerblue;
}
 
.cardBox:nth-child(2) .card .back {
  background: orange;
}
 
.cardBox:nth-child(3) .card .back {
  background: yellowgreen;
}
 
.cardBox:nth-child(4) .card .back {
  background: tomato;
}

.cardBox:nth-child(2) .card {
  -webkit-animation: giro 1.5s 1;
  animation: giro 1.5s 1;
}
 
.cardBox:nth-child(3) .card {
  -webkit-animation: giro 2s 1;
  animation: giro 2s 1;
}
 
.cardBox:nth-child(4) .card {
  -webkit-animation: giro 2.5s 1;
  animation: giro 2.5s 1;
}

@keyframes giro {
  from {
    transform: rotateY( 180deg);
  }
  to {
    transform: rotateY( 0deg);
  }
}

@-webkit-keyframes giro {
  from {
    transform: rotateY( 180deg);
  }
  to {
    transform: rotateY( 0deg);
  }
}
@media screen and (max-width: 767px) {

  .cardBox {
    margin-left: 2.8%;
    margin-top: 3%;
    width: 46%;
  }

  .card {
    height: 285px;
  }

  .cardBox:last-child {
    margin-bottom: 3%;
  }

}


@media screen and (max-width: 480px) {

  .cardBox {
    width: 94.5%;
    height: 290px;
  }

}

/* fin imagenes  */













/* footer  */
/* logo girando */

.logo img {
  background-size    : cover;
  background-position: left;
  width              : 150px;
  height             : 150px;
  animation          : rotar 5s linear infinite;

}

.logo:hover {
  cursor: pointer;
}

@keyframes rotar {
  from {
    transform: rotateY(180deg);
  }

  to {
    transform: rotateY(-180deg);
  }


}.mb-4.text-center a.btn.btn-outline-dark.btn-floating {
  transition: background-color 0.3s ease;
}

.mb-4.text-center a.btn.btn-outline-dark.btn-floating:hover {
  background-color: #0b72e0; /* Azul claro */
}



/* Estilos para el footer */
.footer {
  /* Ajusta los estilos según sea necesario */
  padding: 100px 10px;
  background-color: #343a40;
  color: #fff;
}


/* adpacion movil  */
/* Estilos adicionales */
.navbar-brand img {
  max-width: 100px; /* Tamaño máximo del logo */
  height: auto;
}

/* Estilos para la sección de los Podcats */
.popular-categories {
  padding: 50px 0; /* Ajusta el padding según tu preferencia */
}

.popular-categories .main-button {
  text-align: center;
  margin-top: 20px; /* Espacio entre el texto y el botón */
}

.popular-item {
  margin-bottom: 40px; /* Espacio entre los elementos de Podcats */
}

.popular-item .thumb {
  position: relative;
}

.popular-item .thumb img {
  width: 100%;
  height: auto;
}

.popular-item .category {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 5px;
  color: white;

































    
/* footer  */
/* logo girando */

.logo img {
    background-size    : cover;
    background-position: left;
    width              : 150px;
    height             : 150px;
    animation          : rotar 5s linear infinite;
  
  }
  
  .logo:hover {
    cursor: pointer;
  }
  
  @keyframes rotar {
    from {
      transform: rotateY(180deg);
    }
  
    to {
      transform: rotateY(-180deg);
    }
  
  
  }.mb-4.text-center a.btn.btn-outline-dark.btn-floating {
    transition: background-color 0.3s ease;
  }
  
  .mb-4.text-center a.btn.btn-outline-dark.btn-floating:hover {
    background-color: #0b72e0; /* Azul claro */
  }
  }